<div class="example-container">
    <span class="center">ToDo App</span>
    <ng-container *ngIf="errorMessage">
      <span class="error">{{errorMessage}}</span>
    </ng-container>
   
    <form [formGroup]="loginForm">
      
      <div class="form-group">
        <label for="title">Email*</label>
        <input type="email" id="email" placeholder="Username" class="form-control" formControlName="email" />
        <span style="color:Red;"
          *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required">Email is
          required.</span>
      </div>
   
      <div class="form-group">
        <label for="description">Password*</label>
        <input id="password" type="password" placeholder="Password" class="form-control" formControlName="password" />
        <span style="color:Red;"
          *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required">Password is
          required.</span>
      </div>
   
      <div class="buttons-container center">
        <button class="btn btn-primary" (click)="signIn()">
          Log in
        </button>
        <button class="btn btn-success" (click)="createUser()">
          Create Account
        </button>
      </div>
    </form>
   </div>